.section{
    padding:  15px;
}
.checkbox-wrapper{
    display: block;
    position: relative;  
    margin: 8px 0;
    width: 100%;
    padding-left: 26px;

}

.checkbox-element{
    appearance: none;
    position: absolute;
    top: 2px;
    left: 0;
    margin: 0;
    width: 18px;
    height: 18px;
    border: 1px solid rgb(21, 21, 198);
    border-radius: 3px;
}
.checkbox-element:checked::before{
    /* галочка */
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 5px;
    width: 5px;
    height: 10px;
    border: 3px solid transparent;
    border-bottom-color: #fff;
    border-right-color: #fff;
    transform-origin: 50% 50%;
    transform: rotate(35deg);


}
.checkbox-wrapper p{
    /* текст */
    font-size: 16px;
    line-height: 1.2;
    color: rgb(5, 5, 5);
}
.checkbox-wrapper a{
    /* ссылка */
    color: rgb(21, 21, 198);
    text-decoration: underline;

}
.checkbox-element:checked{
    /* состояние checked */
    background-color: rgb(31, 9, 152);
}
.checkbox-element.error{
    border-color: rgb(247, 6, 6);
}
.checkbox-wrapper span{
    position: absolute;
    top: 100%;
    left: 26px;
    font-size: 14px;
    line-height: 1;
    color: rgb(247, 6, 6);
}